.aboutus_curve {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -230px;
  width: 1200px;
  height: 1400px;
}
.aboutus_leadership {
  position: absolute;
  color: #fff;
  font-size: 32px;
  top: -45px;
  right: 681px;
  line-height: 37px;
}
.aboutus-ceo {
  position: absolute;
  top: 680px;
  left: 400px;
}
.aboutus-ceo__name {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #c6c6c6;
}
.aboutus-ceo__text {
  color: #c6c6c6;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}
.aboutus__curved_profile_back {
  position: absolute;
  top: 458px;
  left: -210px;
}

.aboutus__curved_profile {
  position: absolute;
  top: 75px;
  left: 122px;
}
.left-card__container {
  position: relative;
  top: -310px;
  left: -10px;
}
.left-card {
  position: relative;
  background: #222a36 !important;
  padding: 10px 40px;
  overflow: visible !important;
  margin-bottom: 8px;
  border-radius: 12px !important;
}

.left-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 20px;
}

.left-card__heading {
  font-size: 32px;
  line-height: 37px;
  color: #dbd1fe;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-card__main {
  font-size: 18px;
  line-height: 23px;
  color: #c6c6c6;
  margin-bottom: 30px;
}
.left-card__icon {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.timeline__title {
  position: relative;
  text-align: left !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #c6c6c6;
}
.timeline__para {
  top: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: left !important;
  color: #c6c6c6 !important;
}

.aboutus_leadership .bold {
  font-weight: bold;
}

.aboutus__mobile_curve_1 {
  display: none;
}

.aboutus__spl__heading {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
}
.aboutus__spl__heading__lb {
  display: none;
}

@media screen and (max-width: 1920px) {
  .aboutus_curve {
    left: -230px;
  }
}
/* @media screen and (max-width: 1824px) {
  .aboutus_curve {
    left: -230px;
  }
} */

@media only screen and (max-width: 1366px) {
  .aboutus_curve {
    left: -230px;
  }
}

@media only screen and (max-width: 1224px) {
  .left-card__container {
    left: 30px;
  }
  .aboutus_curve {
    left: -250px;
  }
}

@media screen and (max-width: 1000px) {
  .aboutus-ceo {
    display: none;
  }
  .aboutus_curve {
    left: 16px;
    top: -410px;
    width: unset;
    height: unset;
  }
  .aboutus_curve img {
    height: 1000px;
    width: 200px;
  }
  .aboutus_leadership {
    top: 211px;
    left: 100%;
  }

  .left-card__container {
    position: relative;
    top: -300px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 64px;
    left: 80px;
  }
  .aboutus__curved_profile_back img {
    width: 120px;
    height: 120px;
  }
  .aboutus__curved_profile img {
    width: 80px;
    height: 80px;
  }
  .aboutus__curved_profile {
    top: 26px;
    left: 34px;
  }
  .timeline__title {
    position: absolute;
    left: 40px;
    top: 5px;
  }
  .timeline__para {
    padding-top: 60px !important;
  }
  .aboutus_curve__round_2 {
    display: block;
    left: 45px;
    top: 1690px;
    z-index: 1;
  }

  .left-card__heading {
    margin-left: 50px;
    /* transform: translateY(-50%); */
  }
  .left-card__icon {
    position: absolute;
    display: inline-block;
    left: 40px;
    top: 20%;
    /* transform: translateY(-50%); */
  }

  .left-card__icon img {
    height: 50px;
    width: 50px;
  }

  .aboutus__spl__heading {
    font-size: 32px;
    line-height: 37px;
    text-align: left;
  }
  .aboutus__spl__heading__lb {
    display: block;
  }
  .aboutus__last-text {
    font-size: 24px;
    line-height: 35px;
  }
}

@media screen and (max-width: 780px) {
  .aboutus-ceo {
    display: none;
  }
  .aboutus_curve {
    left: 16px;
    top: -410px;
    width: unset;
    height: unset;
  }
  .aboutus_curve img {
    height: 1000px;
    width: 200px;
  }
  .aboutus_leadership {
    top: 211px;
    left: 100%;
  }

  .left-card__container {
    position: relative;
    top: -300px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 64px;
    left: 80px;
  }
  .aboutus__curved_profile_back img {
    width: 120px;
    height: 120px;
  }
  .aboutus__curved_profile img {
    width: 80px;
    height: 80px;
  }
  .aboutus__curved_profile {
    top: 26px;
    left: 34px;
  }
  .timeline__title {
    position: absolute;
    left: 40px;
    top: 5px;
  }
  .timeline__para {
    padding-top: 60px !important;
  }
  .aboutus_curve__round_2 {
    display: block;
    left: 45px;
    top: 1690px;
    z-index: 1;
  }

  .left-card__heading {
    margin-left: 50px;
    /* transform: translateY(-50%); */
  }
  .left-card__icon {
    position: absolute;
    display: inline-block;
    left: 40px;
    top: 20%;
    /* transform: translateY(-50%); */
  }

  .left-card__icon img {
    height: 50px;
    width: 50px;
  }

  .aboutus__spl__heading {
    font-size: 32px;
    line-height: 37px;
    text-align: left;
  }
  .aboutus__spl__heading__lb {
    display: block;
  }
  .aboutus__last-text {
    font-size: 24px;
    line-height: 35px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
  .aboutus_curve {
    left: 16px;
    top: -410px;
    width: unset;
    height: unset;
  }
  .aboutus_curve img {
    height: 1000px;
    width: 200px;
  }
  .aboutus_leadership {
    top: 211px;
    left: 100%;
  }
  .aboutus__curved_profile_back img {
    width: 120px;
    height: 120px;
  }
  .aboutus__curved_profile img {
    width: 80px;
    height: 80px;
  }
  .aboutus__curved_profile {
    top: 26px;
    left: 34px;
  }
  .left-card__container {
    position: relative;
    top: -300px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 64px;
    left: 80px;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (max-width: 415px) {
  .left-card__container {
    top: -344px;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 0px !important;
  }
  .aboutus_curve {
    left: 3px;
    top: -359px;
    width: unset;
    height: unset;
  }
  .aboutus_curve img {
    height: 1233px;
    width: 300px;
  }
  .aboutus_leadership {
    top: 250px;
    left: 30%;
  }
  .aboutus__curved_profile_back img {
    width: 220px;
    height: 220px;
  }
  .aboutus__curved_profile img {
    width: 130px;
    height: 130px;
  }
  .aboutus__curved_profile {
    top: 54px;
    left: 82px;
  }
  .left-card__container {
    top: -316px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 39px;
    left: 11px;
  }
  .timeline__title {
    font-size: 26px;
    line-height: 26px;
  }
  .timeline__para {
    margin-top: 24px;
    font-size: 16px;
    line-height: 23px;
  }
  .aboutus__last-text {
    font-size: 24px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 375px) {
  .aboutus_curve {
    left: 16px;
    top: -389px;
    width: unset;
    height: unset;
  }
  .aboutus_curve img {
    height: 1400px;
    width: 300px;
  }
  .aboutus_leadership {
    top: 250px;
    left: 30%;
  }
  .aboutus__curved_profile_back img {
    width: 220px;
    height: 220px;
  }
  .aboutus__curved_profile img {
    width: 130px;
    height: 130px;
  }
  .aboutus__curved_profile {
    top: 54px;
    left: 82px;
  }

  .aboutus__curved_profile_back {
    top: 39px;
    left: 11px;
  }
}

@media only screen and (max-width: 360px) {
  .aboutus_curve {
    left: 16px;
    top: -370px;
  }
  .aboutus_curve img {
    height: 1400px;
    width: 300px;
  }
  .aboutus_leadership {
    top: 250px;
    left: 30%;
  }
  .aboutus__curved_profile_back img {
    width: 220px;
    height: 220px;
  }
  .aboutus__curved_profile img {
    width: 130px;
    height: 130px;
  }
  .aboutus__curved_profile {
    top: 54px;
    left: 82px;
  }
  .left-card__container {
    position: relative;
    top: -300px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 39px;
    left: 11px;
  }
}

@media only screen and (max-width: 320px) {
  .MuiTimeline-root {
    padding: 0 !important;
  }
  .aboutus_curve {
    left: 0px;
    top: -320px;
  }
  .aboutus_curve img {
    height: 1200px;
    width: 300px;
  }
  .aboutus_leadership {
    top: 200px;
    left: 20%;
  }
  .aboutus__curved_profile_back img {
    width: 220px;
    height: 220px;
  }
  .aboutus__curved_profile img {
    width: 130px;
    height: 130px;
  }
  .aboutus__curved_profile {
    top: 54px;
    left: 82px;
  }
  .left-card__container {
    position: relative;
    top: -285px;
    left: 0px;
  }

  .aboutus__curved_profile_back {
    top: 0px;
    left: 11px;
  }
  .timeline__title {
    margin-top: -10px;
  }
}
